<!DOCTYPE html>
<html>
<head>
	<title>Header</title>
	<link href="Assets/header.css" rel="stylesheet">
	<meta charset="ISO-8859-1">
</head>
<body>
	<div class="header-wrapper">
		<div class="logo-header"><img alt="logo" src="https://i.imgur.com/vFWBpuK.png"></div>
		<div class="search-header">
			<input name="search-header" placeholder="" type="text">
		</div>
		<div class="settings"><img alt="logo" src="https://i.imgur.com/Gn7nq2l.png"></div>
		<div class="upload"><img alt="logo" src="https://i.imgur.com/yKgtMFi.png"></div>
	</div>
</body>
</html>