main{
	width: 100%;
	margin: 50px auto;
	column-width: 100px;
	column-count: 5;
	column-gap: 0px;
	font-family: helvetica, arial; 
}

.grid-item { 
	width: 100%;
 	text-decoration: none;
 	color: #555555 ;
 }

.grid-item img{
	width: 100%;
	border-radius: 10px;
}

figure {
	margin : 0px 12px;
}

figcaption{
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 30px;
}